<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sso.hyeon.caffeinbody">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:name="sso.hyeon.caffeinbody.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaffeInBody">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="sso.hyeon.cameraonly.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <service
            android:name="sso.hyeon.caffeinbody.ApplicationBackgroundService"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name="sso.hyeon.caffeinbody.RestartServiceForeground"/>

        <receiver android:name="sso.hyeon.caffeinbody.ResetTodayCaf" />
        <receiver android:name="sso.hyeon.caffeinbody.AlarmReceiver"/>

        <activity
            android:name="sso.hyeon.caffeinbody.PlusDrinkActivity"
            android:exported="false" />
        <activity
            android:name="sso.hyeon.caffeinbody.MainActivity"
            android:exported="false" />
        <activity
            android:name="sso.hyeon.caffeinbody.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sso.hyeon.caffeinbody.DetailActivity"
            android:exported="false" />
        <activity
            android:name="sso.hyeon.caffeinbody.DrinkCaffeineActivity"
            android:exported="false" />
        <activity android:name="sso.hyeon.caffeinbody.CaffeineListActivity" />
        <activity android:name="sso.hyeon.caffeinbody.DrinkTypeActivity" />
        <activity android:name="sso.hyeon.caffeinbody.Survey1Activity" />
        <activity android:name="sso.hyeon.caffeinbody.Survey2Activity" />
        <activity android:name="sso.hyeon.caffeinbody.Survey3Activity" />
        <activity android:name="sso.hyeon.caffeinbody.RecommendActivity" />
        <activity android:name="sso.hyeon.caffeinbody.SurveyResultActivity" />
        <activity android:name="sso.hyeon.caffeinbody.SearchDrinksActivity" />

        <activity android:name="sso.hyeon.caffeinbody.HeartrateCalculation" />
    </application>

</manifest>